.total_text {
}

.total_text span {
  font-weight: bold;
  color: #d6983a;
}

.side_divider {
  width: 1px;
  background-color: #dfdfdf;
  margin-left: 20px;
  margin-right: 20px;
}

.divider {
  background-color: #dfdfdf;
}

.side {
  /* background-color: aliceblue; */
}

.list_item_container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.list_item_word_area {
  display: flex;
}

.list_item_word {
  font-weight: bold;
  font-size: 20px;
  color: #6238c4;
  cursor: pointer;
}

.list_item_pos {
  margin: 5px 0 5px 10px;
  font-size: 15px;
  color: #de654a;
}

.list_item_trans_pos {
  margin: 5px;
  font-size: 15px;
  color: #de654a;
}

.list_item_add {
  margin: 6px;
  font-size: 19px;
  color: #d5d5d5;
}

.list_item_add:hover {
  color: #6238c4;
  cursor: pointer;
}

.list_item_word_area span {
  color: dimgray;
}

.list_item_idx {
  font-weight: bold;
  font-size: 17px;
  margin-right: 5px;
}

.list_item_trans_word {
  font-size: 17px;
  font-weight: 500;
}

.list_item_indent {
  margin-left: 20px;
}

.list_item_divider {
  height: 1px;
  background-color: #dfdfdf;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination_area {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pagination_button {
  background-color: white;
  border-style: none;
  font-size: 16px;
}

.pagination_button_current {
  background-color: white;
  color: #d6983a;
  border: 1px solid #dfdfdf;
  font-size: 16px;
  font-weight: 500;
}

.pagination_button:hover {
  color: #d6983a;
  border: 1px solid #dfdfdf;
  cursor: pointer;
}

.pagination_button:disabled {
  color: #dfdfdf;
  font-weight: 600;
  border-style: none;
}
