.search_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search_title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #25259b;
}
.search_subtitle {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.search_input {
  margin-top: 50px;
  width: 350px;
}

.side_divider {
  height: 70vh;
  width: 1.3px;
  background-color: #dfdfdf;
  margin-left: 20px;
  margin-right: 20px;
}

.divider {
  background-color: #dfdfdf;
}

.pedia_area {
  width: 515px;
  height: 100px;
  overflow: hidden;
}

.pedia_container {
  display: flex;
}

.b {
  background-color: darkkhaki;
}
