.test_area {
  margin-bottom: 20px;
}

.test_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
}

.test_title_icon {
  color: grey;
}

.test_contents {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.test_contents_login {
  display: flex;
  align-items: center;
  width: 500px;
  height: 170px;
}

.test_contents_login > div {
  margin: 0 auto;
  color: #a0a0a0;
  font-size: 20px;
  font-weight: 600;
}

.test_result_card_area {
  height: 160px;
  width: fit-content;
  border: #dfdfdf 1px solid;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #dfdfdf;
}

.test_result_circle {
  margin: 5px;
}
