.shadow {
  box-shadow: 1px 1px 7px #dfdfdf;
}

.container {
  width: 550px;
  border-left: 1px #dfdfdf solid;
  border-right: 1px #dfdfdf solid;
}

.input_area {
  padding: 20px 20px 5px 20px;
  display: flex;
  flex-direction: column;
}
.input_area > textarea {
  width: 100%;
  border: none;
  font-size: 17px;
  resize: none;
  overflow: hidden;
}

.input_area > textarea:focus {
  outline: none;
}

.input_button_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-top: 10px;
}

.input_button_area > div {
  font-size: 13px;
  font-weight: 600;
  margin-right: 10px;
}

.input_button_area > button {
  border: none;
  border-radius: 5px;
  background-color: #6238c4;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
}

.divider {
  background-color: #dfdfdf;
  margin-bottom: 40px;
}

.search_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
}

.date_picker {
  margin-right: 10px;
}

.search_input {
  width: 70%;
}

.search_tooltip_icon {
  font-size: 18px;
  color: #a0a0a0;
  margin-right: 10px;
}

.search_tooltip_icon:hover {
  color: #e4a434;
}

.list_counter_area {
  line-height: 40px;
  text-align: center;
  border-top: 1px #dfdfdf solid;
  border-bottom: 2px #dfdfdf solid;
}

.list_counter {
  font-size: 13px;
  font-weight: 600;
  color: #6238c4;
}

.list_more_area {
  line-height: 40px;
  text-align: center;
  border-top: 1px #dfdfdf solid;
  border-bottom: 2px #dfdfdf solid;
  background-color: #f2f2f2;
}

.list_more {
  font-size: 13px;
  font-weight: 600;
  color: #6238c4;
  cursor: pointer;
}

.item_border {
  display: flex;
  justify-content: center;
  border-bottom: 1px #dfdfdf solid;
}

.item_container {
  width: 520px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item_header {
  display: flex;
}

.item_date_area {
  display: flex;
  cursor: pointer;
}

.item_date {
  font-size: 17px;
  font-weight: bold;
  line-height: 17px;
}

.item_time {
  font-size: 13px;
  font-weight: bold;
  color: #a0a0a0;
  margin-left: 10px;
}

.item_icon_area {
  display: flex;
  margin-left: auto;
}

.item_edit_icon {
  font-size: 16px;
  color: #a0a0a0;
}

.item_edit_icon:hover {
  color: #6666fc;
  cursor: pointer;
}

.item_delete_icon {
  font-size: 16px;
  color: #a0a0a0;
  margin-left: 10px;
}

.item_delete_icon:hover {
  color: #de654a;
  cursor: pointer;
}

.item_content_area {
  margin: 5px 5px 10px 5px;
}

.item_content {
  white-space: pre-wrap;
}

.item_comment_area {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.item_comment_icon {
  font-size: 16px;
  color: #6238c4;
}

.item_comment_count {
  line-height: 18px;
  font-weight: 600;
  margin-left: 5px;
}

.item_footer {
}

.item_comments {
}

.edit_area > textarea {
  width: 100%;
  border: 1px #dfdfdf solid;
  border-radius: 5px;
  font-size: 17px;
  resize: none;
  overflow: hidden;
}

.edit_area > textarea:focus {
  outline: none;
}

.edit_button_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  font-weight: 600;
}

.edit_button_area > button {
  border: none;
  border-radius: 5px;
  background-color: #6238c4;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
}
