.container {
  /* min width 300 
  max width 900 */
  width: 100%;
  height: 700px;
  background-color: #f1f2f3;
}

.header {
  background-color: white;
}

.header_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.header_title_text {
  font-size: 18px;
}

.header_title_icon {
  width: 15px;
  color: #3c3cb1;
}

.header_subtitle {
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.shadow {
  box-shadow: 1px 1px 7px #dfdfdf;
}

.list_container {
  background-color: white;
}

.list_divider {
  margin: 0;
}

.list_title_area {
  display: flex;
  margin: 10px 20px 0 20px;
  height: 50px;
}

.list_title {
  font-size: 15px;
  font-weight: 800;
  line-height: 50px;
}

.list_icon_area {
  margin-left: auto;
  line-height: 60px;
}

.list_add_icon {
  font-size: 22px;
  color: #3c3cb1;
  margin-right: 20px;
  cursor: pointer;
}
.list_settings_icon {
  font-size: 22px;
  color: #3c3cb1;
  cursor: pointer;
}

.list_item_area {
  line-height: 50px;
}

.list_item {
  display: flex;
  margin: 0 20px 0 20px;
  height: 50px;
}

.list_item_pointer {
  display: flex;
  margin: 0 20px 0 20px;
  height: 50px;
  cursor: pointer;
}

.list_item_counter {
  font-size: 12px;
  font-weight: 600;
  color: darkgrey;
  margin-left: 5px;
}

.list_item_icons {
  margin-left: auto;
}

.list_item_icons > span {
  margin-left: 15px;
  cursor: pointer;
}
